{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-margin-top">
    <div class="w3-row">

        <!-- Left Column: Form and Image -->
        <div class="w3-col l6 m6 s12 w3-padding">
            <!-- Form Section -->
            <form action="{{link}}" class="w3-container w3-card-4 w3-light-grey">
                <h2 class="w3-center">{{title}}</h2>

                <!-- Row for page size-->
                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <label>Page Height in cm <span>(2 - 29.7cm):</span></label>
                        <input class="w3-input custom-width" type="number" name="paperheight" min="2" max="29.7" step="0.1"
                            value="{{ paperheight }}" required>
                    </div>
                    <div class="w3-half w3-padding">
                        <label>Page Width in cm <span>(5 - 21.0cm):</span></label>
                        <input class="w3-input custom-width" type="number" name="paperwidth" min="5" max="21" step="0.1"
                            value="{{ paperwidth }}" required>
                    </div>
                </div>

                <!-- Row for operations -->
                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <label for="op_patternsize">Pattern Size</label>
                        <select class="w3-select w3-border" name="op_patternsize" required>
                            {% for x in op_patternsizes %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w3-half w3-padding">
                        <label for="op_dotsize">Dot Size</label>
                        <select class="w3-select w3-border" name="op_dotsize" required>
                            {% for x in op_dotsizes %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w3-half w3-padding">
                        <label for="op_colour">Colour</label>
                        <select class="w3-select w3-border" name="op_colour" required>
                            {% for x in op_colours %}
                            <option value="{{x}}">{{x}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="w3-row w3-center">
                    <button type="submit" class="w3-button w3-xxlarge w3-section w3-green" id="Generate">Generate
                        <i class="fa-solid fa-download"></i>
                    </button>
                </div>

                <!-- Progress Bar -->
                <div id="progress-bar" class="w3-container">
                    <div class="progress"></div>
                </div>
            </form>

            <!-- Image Section Below Form -->
            <div class="w3-card-4 w3-margin-top w3-padding">
                <div class="w3-container">
                    <p class="w3-center">Example</p>
                </div>
                <div class="w3-center">
                    <img src="/static/img/{{ img_filename }}" alt="{{ img_filename }}" class="responsive-img">
                </div>
            </div>
        </div>

        <!-- Right Column: PDF Preview -->
        <div class="w3-col l6 m6 s12 w3-padding">
            <div class="w3-card-4">
                <div class="w3-container">
                    <p class="w3-left">Sample PDF</p>
                </div>
                <embed src="/static/pdfs/{{ pdf_filename }}" type="application/pdf" width="100%" height="1200px">
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/progress-bar.js') }}"></script>
{% endblock %}
