{% extends "base.html" %}

{% block content %}

<!-- usage: lined paper only-->

<div class="w3-container w3-margin-top">
    <div class="w3-row">

        <!-- Left Column: Form and Image -->
        <div class="w3-col l6 m12 s12 w3-padding">
            <!-- Form Section -->
            <form action="{{link}}" class="w3-container w3-card-4 w3-light-grey">
                <h2 class="w3-center">{{title}}</h2>

                <!-- Row for Whole Page checkbox and number of lines -->
                <div class="w3-row">
                    <div class="w3-half w3-padding">
                        <div class="w3-center">
                            <input type="checkbox" id="whole_page" name="whole_page" class="w3-check">
                            <label for="whole_page">Whole Page</label>
                        </div>
                    </div>

                    <div class="w3-half w3-padding">
                        <label>Number of Lines
                            <span>({{ num_lines }} lines, {{ min_lines}} to {{ max_lines }}):</span>
                        </label>
                        <input class="w3-input w3-border custom-width"
                               type="number"
                               name="num_lines"
                               min="{{ min_lines }}"
                               max="{{ max_lines }}"
                               step="1"
                               value="{{ num_lines }}"
                               required>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="w3-row w3-center">
                    <button type="submit" class="w3-button w3-xxlarge w3-section w3-green" id="Generate">Generate
                        <i class="fa-solid fa-download"></i>
                    </button>
                </div>

                <!-- Progress Bar -->
                <div id="progress-bar" class="w3-container">
                    <div class="progress"></div>
                </div>
            </form>

            <!-- Image Section Below Form -->
            <div class="w3-card-4 w3-margin-top w3-padding">
                <div class="w3-container">
                    <p class="w3-center">Example</p>
                </div>
                <div class="w3-center">
                    <img src="/static/img/{{ img_filename }}" alt="{{ img_filename }}" class="responsive-img">
                </div>
            </div>
        </div>

        <!-- Right Column: PDF Preview -->
        <div class="w3-col l6 m12 s12 w3-padding">
            <div class="w3-card-4">
                <div class="w3-container">
                    <p class="w3-left">Sample PDF</p>
                </div>
                <embed src="/static/pdfs/{{ pdf_filename }}" type="application/pdf" width="100%" height="1200px">
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/progress-bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/limit-lines.js') }}"></script>
{% endblock %}
